#dialogOverlayForAlert{
	display: none;
	opacity: .7;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	height: 100%;
	bottom: 0;
	z-index: 10;
}
#dialogbox{
	display: none;
	background: #232323;
	border-radius: 10px; 
	width: 350px;
	z-index: 10;
	margin-top: 80px;
	position: absolute; 
    align-items: center;
    justify-content: center;
	position: center center;
	margin-left: auto;
	margin-right: auto;

}
#dialogbox > div{
	background: #2c2f33; 
	border-radius: 5px;
	margin:5px; 
}
#dialogbox > div > #dialogboxhead{ 
	font-size: 18px;
	height: 18px;
	padding: 5px; 
	color: #fff; 
	margin-inline: 10px;
}
#dialogbox > div > #dialogboxbody{
	margin-top: 10px;
	padding: 0;
	margin-inline: 15px;
	color: #f2f2f2;
	border-radius: 5px;
}
#dialogbox > div > #dialogboxfoot{
	padding: 8px; 
	text-align: center;
}
#alertboxButton {
    background: #23272a;
	color: #ffffff;
	width: 100px;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	border-color: black;
	border-radius: 5px;
	margin: 4px;
}