.queue {
  width: 400px;
  border-radius: 10px;
  background-color: rgb(177, 142, 177);
  font-family: sans-serif;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  height: 500px;
  border: #8b5c8d solid 1px;
}
.queueItem {
  background-color: #724d73;
  color: #fff;
  display: flex;
  height: 80px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 12px #876488;
}
.queueItem > span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.box span {
  font-size: 45px;
}
.queueLabel {
  background-color: #724d73;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  border: 0;
  margin: 0;
}
.queueLabel > span {
  padding: 10px;
  overflow: hidden;
}
.queueTrackArt {
  align-self: center;
  margin-left: 8px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  width: 64px;
  height: 64px;
  min-width: 64px;
  max-width: 64px;
}