.queue {
  width: 400px;
  background-color: rgb(177, 142, 177);
  font-family: sans-serif;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  height: 600px;
  border: #8b5c8d solid 1px;
}
.queueItem {
  background-color: #724d73;
  color: #fff;
  display: flex;
  height: 80px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 12px #876488;
}
.queueItem > span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 5px;
}
.queueTrackArt {
  align-self: center;
  margin-left: 8px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  width: 64px;
  height: 64px;
  min-width: 64px;
  max-width: 64px;
}
.queueLabel {
  background-color: #724d73;
  width: 400px;
  padding-block: 5px;
}
.qnp {
  box-shadow: 0px 3px 12px #3e313e;
  background-color: #8b4d8d;
}
.npb {
  border: 1px solid black;
  border-radius: 7px;
  float: right;
  margin-right: 10px;
  padding: 3px;
  padding-inline: 10px;
  background: #724d73;
}
.qspan {
  float: left;
  font-size: large;
  align-self: center;
  margin-left: 10px;
}
