body {
    background-color: #5a67d6;
    font-family: monospace;
    align-content:center;
    text-align: center;
    border: 5%;
}
#speakButton {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    display: table;
    width: 100%;
    left: 0;
    right: 0;
}
button {
    padding: 10px;
    background-color: #7b87ed;
    color: #000;
    cursor: pointer;
    border-radius: 10px;
    margin:auto;
    position:relative;
    width: 98%;
}
#chatBox {
    background-color: #6a77e6;
    position: absolute;
    margin-bottom: 20px;
    left: 10px;
    right: 10px;
    height: max-content;
    border-radius: 5%;
    padding: 10px;
    line-height: 30px;
}
.hide {
    display:none;
}
.show {
    display:block;
}
h1 {
    font-size: 40px;
}